.pasto{
	height: 500px;
	width: 800px;
	background-color: green;
	padding: 20px;
}
.cancha{
	height:100%;
	border:1px solid white;
}
.arco{
	height: 250px;
	width: 120px;
	border: 1px solid white;
}
.left {
	position:relative;
	left: -1px;
	top: 85px;
}
.rigth {
	position:absolute;
	left:705px;
	top: 110px;
}
.centro {
	border-radius: 100%;
	position: absolute;
	left: 20%;
	border: 1px solid white;
	height: 200px;
	width: 200px;
	bottom:400px;

}	
.bcentro{
	position: relative;
	left: 55%;
	bottom: 440px;
}
.bleft{
	position: relative;
	left: 8%;
	bottom: 395px;
}
.bright{
	position: relative;
	left: 520px;
	bottom:250px;
}